# JFAB

In [1]:
import pandas as pd
import numpy as np
import os

In [39]:
df = pd.DataFrame()

# get all combined excel files for all folders
folder_path = r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas"
for folder in os.listdir(folder_path):
    if folder.endswith("xlsx"):
        continue
    for file in os.listdir(folder_path + "/" + folder):
        if file.endswith(".xlsx"):
            name = os.path.join(folder_path, folder, file)
            print(name)
            df.append(pd.read_excel(name, sheet_name = "Invoices"), ignore_index = True)

C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Angelica Mota Shops\Angelica Mota Shops Combined.xlsx
C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\B&B Spa\B&B Spa Combined.xlsx
C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Hair High Tech\Hair High Tech Combined.xlsx
C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Ladore Beauty Bar\Ladore Beauty Salon Combined.xlsx
C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Lissys Salon Spa\Lissys Salon Combined.xlsx

In [70]:
#interim solution

angelica = pd.read_excel(r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas/Angelica Mota Shops/Angelica Mota Shops Combined.xlsx", sheet_name = "Invoices")
bb = pd.read_excel(r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\B&B Spa\B&B Spa Combined.xlsx", sheet_name = "Invoices")
high = pd.read_excel(r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Hair High Tech\Hair High Tech Combined.xlsx", sheet_name = "Invoices")
ladore = pd.read_excel(r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Ladore Beauty Bar\Ladore Beauty Salon Combined.xlsx", sheet_name = "Invoices")
lis = pd.read_excel(r"C:/Users/criss/iCloudDrive/Desktop/JFABULOUS 2022/Rutas\Lissys Salon Spa\Lissys Salon Combined.xlsx", sheet_name = "Invoices")

In [74]:
lis

,Source.Name,Location,Delivery Date,Collection Date,Ref,Item,category,Cost price $,Qty,Retail Price $,Total $,Resale Price $,Qty left,Qty sold,Revenue $,Gross $,Cost of goods $,Net $
0,2022.08.19 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-08-19,2022-09-15,G-001,Guillos,Pulseras,7.272727,NaN,15,0,20.0,NaN,1,15,20.0,7,7.727273
1,2022.09.15 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-09-15,2022-06-10,C-006,Collar Piedra,Collares,14.545455,NaN,28,0,36.0,NaN,1,28,36.0,15,13.454545
2,2022.10.06 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-06-10,2022-11-14,C-002,Collar Chocker,Collares,9.000000,4.0,20,80,26.0,2.0,2,40,52.0,18,22.000000
3,2022.10.06 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-06-10,2022-11-14,C-006,Collar Piedra,Collares,14.000000,2.0,28,56,36.0,1.0,1,28,36.0,14,14.000000
4,2022.10.06 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-06-10,2022-11-14,G-001,Guillos,Pulseras,7.000000,3.0,15,45,20.0,1.0,2,30,40.0,14,16.000000
5,2022.10.20 Lissys Salon Spa.xlsx,Lissys Salon Spa,2023-10-20,2022-11-14,C-002,Collar Chocker,Collares,9.090909,2.0,20,40,26.0,NaN,2,40,52.0,18,21.818182
6,2022.10.20 Lissys Salon Spa.xlsx,Lissys Salon Spa,2023-10-20,2022-11-14,C-006,Collar Piedra,Collares,14.545455,1.0,28,28,36.0,NaN,1,28,36.0,15,13.454545
7,2022.10.20 Lissys Salon Spa.xlsx,Lissys Salon Spa,2023-10-20,2022-11-14,A-003,Arete de Larimar,Aretes,10.909091,1.0,15,15,19.5,NaN,1,15,19.5,11,4.090909
8,2022.10.20 Lissys Salon Spa.xlsx,Lissys Salon Spa,2023-10-20,2022-11-14,A-002,Arete Argolla Pequena,Aretes,1.545455,1.0,10,10,13.0,NaN,2,20,26.0,3,16.909091
9,2022.10.20 Lissys Salon Spa.xlsx,Lissys Salon Spa,2023-10-20,2022-11-14,S-001,Sets de Plata,Sets,14.545455,1.0,29,29,39.0,NaN,2,58,78.0,29,28.909091
10,2022.11.14 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-11-14,2022-12-14,C-001,Cadena,Collares,12.000000,5.0,22,110,28.0,NaN,2,44,56.0,24,20.000000
11,2022.11.14 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-11-14,2022-12-14,C-008,Collar Variados,Collares,13.000000,3.0,25,75,32.0,NaN,1,25,32.0,13,12.000000
12,2022.11.14 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-11-14,2022-12-14,C-006,Collar Piedra,Collares,14.000000,1.0,28,28,36.0,NaN,1,28,36.0,14,14.000000
13,2022.11.14 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-11-14,2022-12-14,G-011,Pulsas Mandamientos,Pulseras,12.000000,1.0,20,20,26.0,NaN,1,20,26.0,12,8.000000
14,2022.11.14 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-11-14,2022-12-14,S-001,Sets de Plata,Sets,15.000000,1.0,29,29,38.0,NaN,1,29,38.0,15,14.000000
15,2022.12.12 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-12-12,2023-01-23,C-001,Cadena,Collares,12.000000,5.0,22,110,28.0,NaN,2,44,56.0,24,20.000000
16,2022.12.12 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-12-12,2023-01-23,G-005,Pulsas de Colores,Pulseras,2.000000,1.0,10,10,13.0,NaN,1,10,13.0,2,8.000000
17,2022.12.12 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-12-12,2023-01-23,G-008,Pulsas de plata,Pulseras,9.000000,2.0,15,30,20.0,NaN,2,30,40.0,18,12.000000
18,2022.12.12 Lissys Salon Spa.xlsx,Lissys Salon Spa,2022-12-12,2023-01-23,A-011,Arete Piedra,Aretes,7.000000,3.0,15,45,20.0,NaN,1,15,20.0,7,8.000000

In [79]:
sales = pd.concat([angelica, bb, high, ladore, lis]).drop(columns = ["Qty", "Total $", "Unnamed: 17", "Qty left"])
sales.columns

Index(['Source.Name', 'Location', 'Delivery Date', 'Collection Date', 'Ref',
       'Item', 'category', 'Cost price $', 'Retail Price $', 'Resale Price $',
       'Qty sold', 'Revenue $', 'Gross $', 'Cost of goods $', 'Net $'],
      dtype='object')

In [80]:
sales.groupby("Location")["Revenue $"].sum()

Location
Angelica Mota Shops     468
B&B Spa                 932
Hair High Tech         1293
Ladore Beauty Salon     771
Lissys Salon Spa        547
Name: Revenue $, dtype: int64